# ===================================================================
#  Python General
# ===================================================================

__pycache__/
*.py[cod]
*$py.class
*.so

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
local_settings.py
db.sqlite3

.idea/
.vscode/
.spyderproject/
.ropeproject/

.ipynb_checkpoints/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

docs/_build/

.mypy_cache/


# ===================================================================
#  Project-specific Exclusions
# ===================================================================

dnsmos/

eval_scripts/acoustic/logs_*/

eval_scripts/acoustic/api_wavs/
eval_scripts/acoustic/config/
eval_scripts/acoustic/dialect/
eval_scripts/acoustic/dnsmos/
eval_scripts/acoustic/emotion/
eval_scripts/acoustic/pitch_shift/
eval_scripts/acoustic/time_stretch/
eval_scripts/acoustic/vol/
*.bak

